<html lang = "en">
   <head>
      <!-- Meta tags -->
      <meta charset = "utf-8">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
      <link rel="stylesheet" type="text/css/html" href="css/styles.css" />
      <!-- Bootstrap CSS -->
      <link rel = "stylesheet" 
         href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
         integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
         crossorigin = "anonymous">
      
      <title>Dashboard</title>
   </head>
   
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="#">Navbar</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <div class="navbar-nav">
             <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
             <a class="nav-item nav-link" href="#">Features</a>
             <a class="nav-item nav-link" href="#">Pricing</a>
             <a class="nav-item nav-link" href="/adminLogin/logout">Logout</a>
           </div>
         </div>
       </nav>

       <div class="container-fluid">
         <div class="row">
             <div class="col-3 px-1 position-fixed" id="sticky-sidebar">
              <form action="/adminDashboard/showInstructor">
                 <input type="submit" class="nav-item nav-link" value="Show Instructor"/>
              </form>
              <form action="/adminDashboard/showCourse">
                <input type="submit" class="nav-item nav-link" value="Show Course"/>
             </form>
             <form action="/adminDashboard/showStudent">
                <input type="submit" class="nav-item nav-link" value="Show Student"/>
             </form>
             <form action="/adminDashboard/assignStudentbyAdmin">
               <input type="submit" class="nav-item nav-link" value="Assign Course For Student"/>
            </form>
            <form action="/adminDashboard/assignInstructor">
               <input type="submit" class="nav-item nav-link" value="Assign Instructor to  New Course">
           </form>
             <form action="/adminDashboard/grading">
                <input type="submit" class="nav-item nav-link" value="Student Grading"/>
             </form>
             </div>
             </div>
         </div>
     </div>
      