<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assign Instructor to Course</title>
</head>

<body>
  <div class="container">


    <form action="/adminDashboard/assignInstructor" method="POST">
      <label for="instructor_id"><b>Instructor ID</b></label>
      <input type="text" placeholder="Enter Course Name" name="instructor_id" required>
      <br>
      <br>
      <label for="course_id"><b>Course ID</b></label>
      <!-- <input type="text" placeholder="Enter Course ID"  required> -->
      <select name="course_id" placeholder="Enter Course ID" required>
        <!-- <option value="SELECT Course ID">Not Selected</option> -->
        <% data.forEach(function(getData){ %>
        <option><%= getData.course_id %></option>
        <% }); %>
      </select>
      <br>
      <br>
      <input type="submit" value="Submit">
  </div>
  </form>
</body>

</html>