<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<form action="./studentLogin/loginForm">
  <input type="submit" value="Student Login" />
</form>
<form action="instructor login">
  <input type="submit" value="Instructor Login" />
</form>
<form action="admin login">
  <input type="submit" value="Admin Login" />
</form>
<form action="course offered">
  <input type="submit" value="Courses Offered" />
</form>
<form action="faculty members">
  <input type="submit" value="Faculty Members" />
</form>
</body>
</html>
