<%- include("facultyCourseHeader") -%>
 <div class="wrapper">
      <form action="./studentLogin/loginForm">
        <input type="submit" class="btn btn-outline-dark" value="Student Login" />
      </form>
      <form action="./instructorLogin/loginForm">
        <input type="submit" class="btn btn-outline-dark" value="Instructor Login" />
      </form>
      <form action="./adminLogin/loginForm">
        <input type="submit" class="btn btn-outline-dark" value="Admin Login" />
      </form>
      <form action="./facultyCourse/course_instructor">
        <input type="submit" class="btn btn-outline-dark" value="Courses Offered" />
      </form>
      <form action="./facultyCourse/faculty">
        <input type="submit" class="btn btn-outline-dark" value="Faculty Members" />
      </form>
  </div>
  </body>

  </html>