<%- include("adminDashHeader") -%>
    <div class="container">
        <form action="/adminDashboard/newStudent" method="POST">
        <label for="student_id"><b>Student ID</b></label>
        <input type="text" placeholder="Enter Student ID" name="student_id" required>
    <br>
    <br>
        <label for="fname"><b>First Name</b></label>
        <input type="text" placeholder="Enter Student's First Name" name="fname" required>
    <br>
    <br>
        <label for="lname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Student's Last Name" name="lname" required>
    <br>
    <br>
        <label for="street"><b>Street Name</b></label>
        <input type="text" placeholder="Enter Student's Street Name" name="street" required>
    <br>
    <br>
        <label for="state"><b>State</b></label>
        <input type="text" placeholder="Enter Student's State Name" name="state" required>
    <br>
    <br>
        <label for="pincode"><b>PINCODE</b></label>
        <input type="text" placeholder="Enter Student's State Name" name="pincode" required>
    <br>
    <br>
        <input type="submit" value="Submit">
      </div>
    </form>
</body>
</html>