<%- include("adminDashHeader") -%>
<div class="container" style="margin-left:500px ;margin-top:20px;">
  <table>
  <form action="/adminDashboard/newStudent" method="POST">

    <tr>
      <td><label for="student_id"><b>Student ID:</b></label></td>
      <td><input type="text" placeholder="Enter Student ID" name="student_id" required></td>
    </tr>
    <tr>
      <td><label for="fname"><b>First Name:</b></label></td>
      <td><input type="text" placeholder="First Name" name="fname" required></td>
    </tr>
    <tr>
      <td><label for="lname"><b>Last Name:</b></label></td>
      <td><input type="text" placeholder="Last Name" name="lname" required></td>
    </tr>
    <tr>
      <td><label for="street"><b>Street Name:</b></label></td>
      <td><input type="text" placeholder="Street Name" name="street" required></td>
    </tr>
    <tr>
      <td><label for="state"><b>State:</b></label></td>
      <td><input type="text" placeholder="State Name" name="state" required></td>
    </tr>
    <tr>
      <td><label for="pincode"><b>PINCODE:</b></label></td>
      <td><input type="text" placeholder="PINCODE" name="pincode" required></td>
    </tr>

  </table>
  <br>
  <input type="submit" value="Submit">
  

  </form>
</div>

</body>

</html>