<%- include("instructorDashHeader") -%>
<div style="margin-top: 20px; margin-left: 450">
  <form action="/addAssignment/remove" method="POST">
    <label for="assignment_id">Assignment ID :</label>
    <input
      type="text"
      name="assignment_id"
      placeholder="Assignment_Courseid_no"
    />
    <br /><br />
    <input type="submit" value="Remove" />
  </form>
</div>
<%- include("instructorDashFooter") -%>
