<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>Student Login</title>
    <style>.button{
        border-radius:10px!important;
    }</style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-4">
                <h2 class="text-center text-dark mt-5">Student Login</h2>
                <div class="card my-5">
                    <form class="card-body cardbody-color p-lg-5" action="/studentLogin/loginCheck" method="POST">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="Username" name="uname"
                                placeholder="User Name" />
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="psw"
                                placeholder="password" />
                        </div>
                        <div class="text-center">
                            <input type="submit" class="button btn btn-primary px-5 mb-3 w-100" value="Login" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>